@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: poppins,Sans-serif;
}
.heading{
  color: #353738;
  font-weight: 600;
  font-size: 50px;
}

.headerbgDarkBlue{
  background-color: #000000;
}

.nav-link{
  color: #ffffff;
}

.imgBg{
  
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  width: 15%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.2' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}




#horizontalNav .navbar-nav .nav-item .nav-link {
  font-size: larger;
  letter-spacing: 0.05rem;
}
#horizontalNav .navbar-toggler:focus {
  outline-color: #ffffff;
}
@media (min-width:1185) {
  .imgBg{
    width: 100%;
  }
  
}

@media (min-width: 992px) {
  #horizontalNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #horizontalNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #horizontalNav .navbar-collapse {
    display: flex;
    width: 100%;
    margin-bottom: auto;
  }
  #horizontalNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #horizontalNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
